<mgl-map
[style]="style"
[zoom]="[2]"
style="height: 50vh; width: 100vw;"
>
<mgl-marker [lnglat]="[-75.551012, 10.421185]">
	<div onclick="alert('Hola')" class="marker">
		Hola Mundo
	</div>	
</mgl-marker>
</mgl-map>