<p>vuelos-component works!</p>
<div class="navlinks">
	<a [routerlink]="['./main']">Main</a>
	<a [routerlink]="['./mas-info']">Mas Info</a>
	<a [routerlink]="['./',5]">Vuelo 5</a>
</div>
<router-outlet></router-outlet>
